{
  "importOrder": [
    "^react$",
    "^@(.*)/(.*)",
    "^(?!(.?./))",
    "^(../.*)",
    "^(./.*)"
  ],
  "importOrderSeparation": true,
  "experimentalBabelParserPluginsList": ["jsx", "classProperties"]
}
